<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"     
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!--该文件存放CRUD的sq1语句 -->

<mapper namespace="tw.keang.dao.CustomerMapper">
	<!-- 添加 -->
	<insert id="save" parameterType="customer">
		INSERT INTO [dbo].[customer]
           ([name]
           ,[gender]
           ,[telephone]
           ,[address])
     VALUES
           (#{name}
           ,#{gender}
           ,#{telephone}
           ,#{address})
	</insert>
	
	<select id="findAll" resultType="customer">
		SELECT [id]
      ,[name]
      ,[gender]
      ,[telephone]
      ,[address]
  		FROM [dbo].[customer]
	</select>
	
	<select id="findById" resultType="customer">
		SELECT [id]
      ,[name]
      ,[gender]
      ,[telephone]
      ,[address]
  		FROM [dbo].[customer]
  		WHERE [id] = #{value}
	</select>
	
	<update id="update" parameterType="customer">
	UPDATE [dbo].[customer]
   		SET [name] = #{name}
      ,[gender] = #{gender}
      ,[telephone] = #{telephone}
      ,[address] = #{address}
 		WHERE id = #{id}
	</update>
	
	<update id="delete" parameterType="customer">
	DELETE [dbo].[customer]
 		WHERE id = #{id}
	</update>
</mapper>